# Python virtual environments
.venv/
venv/

# Environment variables / secrets
.env
*.env

# Python
__pycache__/
*.pyc
*.pyo

# Node
node_modules/
dist/
dist-ssr/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store